<p-button icon="pi pi-plus" [text]="true" (onClick)="increment()"></p-button>
<p-button icon="pi pi-minus" [text]="true" (onClick)="decrement()" severity="danger"></p-button>
<div class="col">
  <div class="p-inputgroup">
    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
    <input type="text" pInputText placeholder="Raison sociale de l'entreprise" id="nom" name="nom"
           #nomEntreprise="ngModel" [(ngModel)]="this.raison_sociale" required
           [ngClass]="{ 'p-invalid': nomEntreprise.invalid && nomEntreprise.touched }">
  </div>
</div>
<div *ngFor="let index of [0].constructor(this.addNumber) ; index as i">
  <div class="input-group mb-3">
    <!-- BilanType -->
    <div class="grid">
    <div class="col">
      <div class="p-inputgroup" pTooltip="type de bilan" tooltipPosition="bottom">
        <span class="p-inputgroup-addon"><i class="pi pi-list"></i></span>
        <select pInputText id="BilanType{{i}}" name="BilanType{{i}}"  required [(ngModel)]="this.types[i]">
          <option value="" disabled selected>Choisir le type de bilan</option>
          <option value="2050">Bilan 2050</option>
          <option value="2035">Bilan 2035</option>
          <option value="2033">Bilan 2033</option>
        </select>
      </div>
    </div>

    <div class="col">
      <input class="p-inputgroup-addon" pTooltip="Télécharger un fichier" tooltipPosition="bottom" type="file" name="files{{index}}" accept=".xml" (change)="onFileSelected($event, i)">
    </div>
  </div>
  </div>
</div>

<p-button (onClick)="sendBilans(this.files, this.types, this.raison_sociale)">send bilans</p-button>
